$color-primary: #2d8cf0;
$color-primary-light: #5cadff;
$color-primary-dark: #2b85e4;
$color-sub: #808695;
$color-disabled: #c5c8ce;
$color-title: #17233d;
$color-content: #515a6e;
$color-background: #f8f8f9;
$color-divider: #e8eaec;
$color-border: #dcdee2;
$color-info: #2db7f5;
$color-success: #19be6b;
$color-warn: #ff9900;
$color-error: #ed4014;
